@import "tailwindcss";

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-[#0B0F19];
    }

    ::selection {
        @apply bg-[#3B82F6]/30 text-white;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-[#0B0F19];
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-white/10 rounded-full hover:bg-white/20 transition-colors;
    }
}